<p id="notice"><%= notice %></p>
<%logger.debug "we ran this render"%>
<%= form_for(@link, remote: true) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>
      <ul>
        <% @link.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1 class="title">URL-Shortener</h1>
  <div class="inputs">
    <%= f.text_field :given_url, :class => "form-control", :placeholder => "Paste a link to shorten" %>
  </div>
  <div class="inputs">
    <%= f.submit 'Shorten Me', :class => "btn btn-primary"%>
  </div>
  <div class="errdiv">
    <div class="errors"></div>
  </div>
<% end %>