<p class="short_url"><%= link_to @link.display_slug, @link.display_slug, target: '_blank', style: 'color:#0099cc;'%></p>
<p class="route_text">routes to: <span class="route_text_route"><%= @link.given_url%></span></p>
<p class="click_text"><%= pluralize(@link.clicks, 'click') %>, <span class="time">created <%= time_ago_in_words(@link.created_at) %> ago</span></p>
<h2 style='text-align: center;'><%= link_to 'Return', '/all'%></h2>